@CHARSET "ISO-8859-1";
.form-container{
	min-width: 200px;
	max-width: 800px;
}

.form-element{
	min-width:200px;
	max-width: 300px;	
}

.btn-gender:FOCUS{
	background-color: #0471FF;
	color:white;
}
.btn-outline-primary{
	background-color: transparent;
	border-color:#428bca;
	color:#0471FF;
}
.btng-gender{
	position: relative;
	float: left;
}
.form-check-label{
	width:100%;
	float:left;
	position: relative;
}
.next{
	margin-top: 100px;
}
.form-container{
}
.container{
}
#form-2{
	display:none;
}